<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <meta charset="utf-8"/>
</head>
<body>
    <h1>Главная страница</h1>
    <a href="/">main</a>
    <a href="/orders">orders</a>
    <a href="/menu">menu</a>
    <a href="/signup">signup</a>
    <a href="/signin">signin</a>
</body>
<html>